<h3>Current Room: {{channel.name}}</h3>

<form {{action 'sendMessage' on='submit'}}>
  {{input value=author placeholder='Your name'}}
  {{input value=body placeholder='Your message'}}
  <button type='submit'>Send</button>
</form>
<ul>
  {{#each messages as |message|}}
    <li><strong>{{message.author}}</strong>: {{message.body}} ({{message.timestamp}})</li>
  {{/each}}
</ul>
